In [1]:
import pandas as pd
import numpy as np

# Multiple Categories for same row
- pd.get_dummies 
- pd.get_indexer

In [3]:
mnames  = ['movie_id', 'title', 'genres']

In [4]:
movies = pd.read_table('datasets/movielens/movies.dat', sep='::', header=None, names=mnames)
movies

C:\Users\malik\AppData\Local\Continuum\miniconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

,movie_id,title,genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

### Getting Unique Genres

In [10]:
all_genres = []
for gen in movies['genres']:
       all_genres.extend(gen.split('|'))
        
genres = pd.unique(all_genres)
genres

array(['Animation', "Children's", 'Comedy', 'Adventure', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Sci-Fi', 'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir',
       'Western'], dtype=object)

### Making Dummies

In [21]:
zero_matrix = np.zeros((len(movies),len(genres)))

dummies = pd.DataFrame(zero_matrix, columns=genres)
dummies.head(1)

,Animation,Children's,Comedy,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Split test:

In [47]:
gen = movies['genres'][1]

In [48]:
gen.split('|')

['Adventure', "Children's", 'Fantasy']

In [49]:
dummies.columns.get_indexer(gen.split('|')) # 3 for thried colmn , 1st column and 4rth colums

array([3, 1, 4], dtype=int64)

Putting in the for loop

In [50]:
for i,gen in enumerate(movies['genres']):
    # Get related columns positions
    dummy_coulmn_positions = dummies.columns.get_indexer(gen.split('|'))
    # Use that postion to set value to 1
    dummies.iloc[i,dummy_indices] = 1

Combining with the Original Dataset

In [51]:
movies_with_dummies = movies.join(dummies.add_prefix('genre_'))
movies_with_dummies.head()

,movie_id,title,genres,genre_Animation,genre_Children's,genre_Comedy,genre_Adventure,genre_Fantasy,genre_Romance,genre_Drama,...,genre_Crime,genre_Thriller,genre_Horror,genre_Sci-Fi,genre_Documentary,genre_War,genre_Musical,genre_Mystery,genre_Film-Noir,genre_Western
0,1,Toy Story (1995),Animation|Children's|Comedy,1.0,1.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji (1995),Adventure|Children's|Fantasy,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men (1995),Comedy|Romance,0.0,0.0,1.0,0.0,0.0,1.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale (1995),Comedy|Drama,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II (1995),Comedy,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0