In [1]:
tup = 1,2,3

In [2]:
tuple?

Init signature: tuple(iterable=(), /)
Docstring:
Built-in immutable sequence.

If no argument is given, the constructor returns an empty tuple.
If iterable is specified the tuple is initialized from iterable's items.

If the argument is a tuple, the return value is the same object.
Type:           type
Subclasses:     int_info, float_info, hash_info, version_info, flags, getwindowsversion, thread_info, asyncgen_hooks, stat_result, statvfs_result, ...

In [4]:
tup[1] = 3

TypeError: 'tuple' object does not support item assignment

In [5]:
tup

(1, 2, 3)

In [6]:
#nested tuple
ntup  = (1,3,4), (2,3)

In [7]:
ntup

((1, 3, 4), (2, 3))

In [9]:
#converting to a tuple
ctup  = tuple([3,4,5])
ctup

(3, 4, 5)

In [11]:
ctup2 = tuple("HAssna ")
ctup2

('H', 'A', 's', 's', 'n', 'a', ' ')

In [32]:
mtup = (1,3,4),("ALI"), True, [1,2,3]
mtup[3][0]  = 100000000

In [33]:
mtup

((1, 3, 4), 'ALI', True, [100000000, 2, 3])

In [34]:
mtup + ctup

((1, 3, 4), 'ALI', True, [100000000, 2, 3], 3, 4, 5)

In [36]:
mtup * 4

((1, 3, 4),
 'ALI',
 True,
 [100000000, 2, 3],
 (1, 3, 4),
 'ALI',
 True,
 [100000000, 2, 3],
 (1, 3, 4),
 'ALI',
 True,
 [100000000, 2, 3],
 (1, 3, 4),
 'ALI',
 True,
 [100000000, 2, 3])

In [46]:
l = [["a"]]
l = l * 4
l

[['a'], ['a'], ['a'], ['a']]

In [47]:
l[0][0] = 'b'
l
#Hence we can see that only refernce is copied not objects

[['b'], ['b'], ['b'], ['b']]

In [48]:
a, b, c = 1,2,3

In [50]:
axistup  = 22,44,55

In [51]:
x,y,z = axistup

In [56]:
y

44

In [57]:
x, y = y, x

In [58]:
y

22

In [63]:
seql = [(1,3,4),(1,3,4),(1,3,4)]
for a,b,c in seql:
    print("a=" + str(a) + " b=" + str(b) + " c=" + str(c))

a=1 b=3 c=4
a=1 b=3 c=4
a=1 b=3 c=4

In [88]:
tup = 23,4,6,4,56,78,2345,6,77,8,4323,23,23,23,23,23

In [89]:
a,b, *rest, z = tup

In [92]:
tup.count(23)

6

In [3]:
a = "str"

In [94]:
i = 0

In [2]:
i = 0.1

In [98]:
j = i.real
j?

Type:        float
String form: 0.1
Docstring:   Convert a string or number to a floating point number, if possible.

In [1]:
l = range(10)

In [2]:
l

range(0, 10)

In [3]:
l?

Type:        range
String form: range(0, 10)
Length:      10
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).

In [6]:
lst = list(l)

In [8]:
lst.append(10)
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10]

In [9]:
lst.insert(0,None)

In [10]:
lst

[None, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10]

In [13]:
lst.pop(0)
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10]

In [14]:
lst.pop(0)

1

In [15]:
lst.pop(0)

2

In [16]:
lst

[3, 4, 5, 6, 7, 8, 9, 10, 10]

In [17]:
lst.remove(10)

In [18]:
lst

[3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
lst.remove(5)

In [20]:
lst.append(6)

In [21]:
lst.remove(6)

In [25]:
i = 10
10 in lst

True

In [26]:
lst2 = ['a','b']

In [28]:
lst3 = lst + lst2

In [29]:
lst.extend(lst2)

In [31]:
lst = [34,54,23,75,23435,21,0,32,1]

In [33]:
lst.sort()

In [36]:
lsta = ['ad','a','aaaa','abl']
lsta.sort(key=len)

In [37]:
import bisect

In [38]:
c = [1,2,2,2,3,4,7]

In [39]:
bisect.bisect(c,2)

4

In [40]:
c

[1, 2, 2, 2, 3, 4, 7]

In [43]:
bisect.bisect(c,5)

6

In [44]:
bisect.insort(c,6)

In [45]:
lst[1:5]

[1, 21, 23, 32]

In [50]:
lst[2:3]

[21]

In [51]:
lst[:2]

[0, 1]

In [52]:
lst[2:]

[21, 23, 32, 34, 54, 75, 23435]

In [53]:
lst[-2]

75

In [56]:
lst[-2:-1]

[75]

In [60]:
lst[1:]

[1, 21, 23, 32, 34, 54, 75, 23435]

In [61]:
lst[::2]

[0, 21, 32, 54, 23435]

In [65]:

i = 0 
for value in lst:
    print(lst[i])
    i += 1

0
1
21
23
32
34
54
75
23435

In [75]:
#taking record of index 

#traditional approch is to for loop and create and i variable and do i++ for that varible and get the recored

#however pyhton have a fancy way of doiing this using enumerates 

for index, value in enumerate(lst):
    print(index)

0
1
2
3
4
5
6
7
8

In [95]:
types = ['car','van','bike','jet']

In [78]:
typesMap = {}
for index, value in enumerate(types):
    typesMap[index] = value

In [79]:
typesMap

{0: 'car', 1: 'van', 2: 'bike', 3: 'jet'}

In [81]:
sorted(types)

['bike', 'car', 'jet', 'van']

In [82]:
sorted("Hassan")

['H', 'a', 'a', 'n', 's', 's']

In [84]:
zipped = zip(lst,lsta)

In [86]:
list(zipped)

[(0, 'a'), (1, 'ad'), (21, 'abl'), (23, 'aaaa')]

In [96]:
typesSerogates = [1,2,3,4]

In [97]:
listoftuples = list(zip(types,typesSerogates))
listoftuples

[('car', 1), ('van', 2), ('bike', 3), ('jet', 4)]

In [99]:
for index, (valueof1, valueof2) in enumerate(listoftuples):
    print(str(index) + " " + str(valueof1), str(valueof2))

0 car 1
1 van 2
2 bike 3
3 jet 4

In [100]:
listoflist = [[2,3], [3,4], [7,7]]

In [102]:
for i, [value1, value2] in enumerate(listoflist):
    print(str(value1) + "-" + str(value2))

2-3
3-4
7-7

In [103]:
for [value1,value2] in listoflist:
    print(str(value1) + "-" + str(value2))

2-3
3-4
7-7

In [112]:
zipped = zip(types,typesSerogates)

In [113]:
category = list(zipped)

In [115]:
vechle, suerogate  = zip(*category)
vechle

('car', 'van', 'bike', 'jet')

In [120]:
list(reversed(range(5)))

[4, 3, 2, 1, 0]

In [123]:
reversed??

Init signature: reversed(sequence, /)
Docstring:      Return a reverse iterator over the values of the given sequence.
Type:           type
Subclasses: