# Function Application

To apply your own or another libraryâ€™s functions to Pandas objects, you should be aware of the three important methods. The methods have been discussed below. The appropriate method to use depends on whether your function expects to operate on an entire DataFrame, row- or column-wise, or element wise.

- Table wise Function Application: pipe()
- Row or Column Wise Function Application: apply()
- Element wise Function Application: applymap()

## Table-wise Function Application - pipe()

Custom operations can be performed by passing the function and the appropriate number of parameters as pipe arguments. Thus, operation is performed on the whole DataFrame.

For example, add a value 2 to all the elements in the DataFrame. Then,

adder function

The adder function adds two numeric values as parameters and returns the sum.

In [2]:
def adder(element1, element2):
    return element1 + element2

Now we will use this custom function to peform an operation on DataFrame

In [7]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.randn(5,3))  #5*3 arry containg random numbers

In [10]:
# Applying the custom Function using pipe() 
df.pipe(adder, 2)

          0         1         2
0  2.280333  1.321755  2.870768
1  1.324083  2.042935  1.941417
2  2.891228  1.277889  1.369538
3  3.369252  0.932762  3.250194
4  2.786943  3.281878  1.349960

## Row or Column Wise Function Application - apply()

Arbitrary functions can be applied along the axes of a DataFrame or Panel using the apply() method, which, like the descriptive statistics methods, takes an optional axis argument. By default, the operation performs column wise, taking each column as an array-like.

In [16]:
df

          0         1         2
0  0.280333 -0.678245  0.870768
1 -0.675917  0.042935 -0.058583
2  0.891228 -0.722111 -0.630462
3  1.369252 -1.067238  1.250194
4  0.786943  1.281878 -0.650040

In [14]:
df.apply(np.mean) # Equal to df.mean()

# by default axis = 0 
# i.e coulmns mean

0    0.530368
1   -0.228556
2    0.156375
dtype: float64

#### Specifying axis

In [17]:
df.apply(np.mean, axis=1)

# axis = 1
# i.e row wise

0    0.157618
1   -0.230522
2   -0.153781
3    0.517403
4    0.472927
dtype: float64

# Element Wise Function Application - map()

In [20]:
df

          0         1         2
0  0.280333 -0.678245  0.870768
1 -0.675917  0.042935 -0.058583
2  0.891228 -0.722111 -0.630462
3  1.369252 -1.067238  1.250194
4  0.786943  1.281878 -0.650040

In [26]:
# multiplying each element in column 0 by 100
df[0].map(lambda x:x*100)

0     28.033263
1    -67.591711
2     89.122792
3    136.925173
4     78.694293
Name: 0, dtype: float64

End