In [1]:
import pandas as pd

In [12]:
df  = pd.DataFrame([[1,2,3,4,6,7,8,9,23,43,23,4,5,6,7,8,23,23,4,5,3,3,3,3,3],[2,4,5]])
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
0,1,2,3,4.0,6.0,7.0,8.0,9.0,23.0,43.0,23.0,4.0,5.0,6.0,7.0,8.0,23.0,23.0,4.0,5.0,3.0,3.0,3.0,3.0,3.0
1,2,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
pd.get_option("display.max_columns")

30

In [10]:
pd.set_option("display.max_columns",30)

In [13]:
pd.reset_option("display.max_columns")

In [14]:
pd.get_option("display.max_columns")

20

In [15]:
pd.describe_option("display.max_columns")

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]

In [18]:
with pd.option_context("display.max_rows",10):
   print(pd.get_option("display.max_rows"))
   print(pd.get_option("display.max_rows"))
    
print(pd.get_option("display.max_rows"))

10
10
60

In [20]:
pd.get_option("display.precision")
pd.describe_option("display.precision")

display.precision : int
    Floating point output precision (number of significant digits). This is
    only a suggestion
    [default: 6] [currently: 6]

In [21]:
pd.describe_option("display.max_colwidth")

display.max_colwidth : int
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output.
    [default: 50] [currently: 50]

In [22]:
pd.get_option("display.max_colwidth")

50