In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame(np.random.randn(8,4),index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])
df

          A         B         C         D
a -1.388583  0.830332  1.729707  0.958654
b  0.428911  1.812014 -0.464275  0.911944
c  0.751951  1.238152 -0.747928  1.353120
d -0.797682  0.436423 -0.817277 -1.825139
e  1.631605 -0.008759  0.847564 -0.553575
f  1.178958  0.364283 -0.432671 -0.041794
g  0.728813  1.749908 -0.619711  1.133358
h  0.054661 -0.323721 -1.085225  0.046532

In [10]:
df.loc['a':'d']

          A         B         C         D
a -1.388583  0.830332  1.729707  0.958654
b  0.428911  1.812014 -0.464275  0.911944
c  0.751951  1.238152 -0.747928  1.353120
d -0.797682  0.436423 -0.817277 -1.825139

In [11]:
df.loc['A':'C']

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [14]:
df.loc['a':'d','A':'C']

          A         B         C
a -1.388583  0.830332  1.729707
b  0.428911  1.812014 -0.464275
c  0.751951  1.238152 -0.747928
d -0.797682  0.436423 -0.817277

In [16]:
df.loc[:,['A','C']]

          A         C
a -1.388583  1.729707
b  0.428911 -0.464275
c  0.751951 -0.747928
d -0.797682 -0.817277
e  1.631605  0.847564
f  1.178958 -0.432671
g  0.728813 -0.619711
h  0.054661 -1.085225

In [17]:
df.loc[['a','b','f','h'],['A','C']]

          A         C
a -1.388583  1.729707
b  0.428911 -0.464275
f  1.178958 -0.432671
h  0.054661 -1.085225

In [18]:
df.loc['a'] > 0

A    False
B     True
C     True
D     True
Name: a, dtype: bool

In [19]:
# ----------

In [20]:
df.iloc[:4]

          A         B         C         D
a -1.388583  0.830332  1.729707  0.958654
b  0.428911  1.812014 -0.464275  0.911944
c  0.751951  1.238152 -0.747928  1.353120
d -0.797682  0.436423 -0.817277 -1.825139

In [21]:
df.iloc[1:5, 2:4]

          C         D
b -0.464275  0.911944
c -0.747928  1.353120
d -0.817277 -1.825139
e  0.847564 -0.553575

In [22]:
df.iloc[[1, 3, 5], [1, 3]]

          B         D
b  1.812014  0.911944
d  0.436423 -1.825139
f  0.364283 -0.041794

          B         D
b  1.812014  0.911944
d  0.436423 -1.825139
f  0.364283 -0.041794

In [24]:
df.iloc[1:3, :]

          A         B         C         D
b  0.428911  1.812014 -0.464275  0.911944
c  0.751951  1.238152 -0.747928  1.353120

In [26]:
df.iloc[:,1:3]

          B         C
a  0.830332  1.729707
b  1.812014 -0.464275
c  1.238152 -0.747928
d  0.436423 -0.817277
e -0.008759  0.847564
f  0.364283 -0.432671
g  1.749908 -0.619711
h -0.323721 -1.085225

In [27]:
# ------ --------------

In [28]:
df.ix[:,'A']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

a   -1.388583
b    0.428911
c    0.751951
d   -0.797682
e    1.631605
f    1.178958
g    0.728813
h    0.054661
Name: A, dtype: float64

In [29]:
# -    ------

In [30]:
df[['A','B']]

          A         B
a -1.388583  0.830332
b  0.428911  1.812014
c  0.751951  1.238152
d -0.797682  0.436423
e  1.631605 -0.008759
f  1.178958  0.364283
g  0.728813  1.749908
h  0.054661 -0.323721

In [31]:
df[2:2]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [34]:
# not recommended
df.A

a   -1.388583
b    0.428911
c    0.751951
d   -0.797682
e    1.631605
f    1.178958
g    0.728813
h    0.054661
Name: A, dtype: float64

In [37]:
# Recomended Approch
df['A']

a   -1.388583
b    0.428911
c    0.751951
d   -0.797682
e    1.631605
f    1.178958
g    0.728813
h    0.054661
Name: A, dtype: float64